.add-to-cart {
  width: 48%;
}
.add-to-cart > span {
  background: #5048e5;
  border-radius: 5px;
  margin-right: 5px;
  display: flex;
  align-content: space-between;
  align-items: center;
}
.add-to-cart input {
  width: 22px;
  padding: 2px;
  text-align: center;
  margin: 0;
  outline: 0;
  border-left: 0;
  border-right: 0;
  background: transparent;
  color: #fff;
  border: 0;
  outline: 0;
  flex: 1;
}
.add-to-cart button {
  background: transparent;
  border: 0;
  outline: 0;
  padding: 8px 11px;
  color: #fff;
  border-radius: 5px;
}

.add-to-cart .add {
  width: 100% !important;
}
