.number-input {
  display: inline-block;
}

.number-input input {
  width: 22px;
  padding: 2px;
  text-align: center;
  margin: 0;
  outline: 0;
  border: 1px solid #afafaf;
  border-left: 0;
  border-right: 0;
}
.number-input button {
  border: 1px solid #b9b9b9;
  background: #fff;
  padding: 2px 7px;
}
